body {
	font-family: 'Varela Round', sans-serif;
}

.modal-login {
	color: #636363;
	width: 350px;
}

.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}

.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}

.modal-login h4 {
	text-align: center;
	font-size: 26px;
}

.modal-login .form-group {
	position: relative;
}

.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}

.modal-login .form-control {
	padding-left: 40px;
}

.modal-login .form-control:focus {
	border-color: #00ce81;
}

.modal-login .form-control,
.modal-login .btn {
	min-height: 40px;
	border-radius: 3px;
}

.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}

.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}

.modal-login .btn,
.modal-login .btn:active {
	border: none;
	background: #00ce81 !important;
	line-height: normal;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
	background: #00bf78 !important;
}

.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}

.modal-login .modal-footer a {
	color: #999;
}

.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}



/* *{
    margin: 0;
    padding: 0;
  } */
nav .btn-lg {
	display: inline-block;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	-webkit-transition: all 0.5s ease-in-out;
}

nav .btn-koo:hover {
	background: #FFE9A0;
	color: #367E18;
}

nav .btn-koo {
	margin: 10px;
	border-radius: 25px 25px 25px 25px;
	background-color: black;
	color: #ffffff;
	/* box-shadow: 0 0 0 1px rgb(16,114,181); */
}

label.error {
	color: rgb(255, 0, 25);
}

